/* This part handles the banner. Here are the contents
Banner Picture, Margin, more margin, everything on one line, white color with spacing, hover background 
*/
.main-header{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fhdqwalls.com%2Fdownload%2Fthe-legend-of-zelda-breath-of-the-wild-ap-1920x1200.jpg&f=1&nofb=1&ipt=89a5511c3d0398ace3c7410aed315726a814dee98f2f36d30abe5b054d116ece&ipo=images);
    background-size: cover;
    padding-bottom: 100px;
}


.nav ul {
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline;
}

.nav a {
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.25em;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}


/* This part deals with I AM MAKSYM WOYCHYSHYN*/
.myname {
    text-align: center;
    margin: 0;
    font-size: 3em;
}

/* This part is misselations. */
h1 {
    color: blue;
}

.box {
    height: 100px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    border: 10px solid black;
    background-color: #16a8fc;
}

html{
    background-color:white;
}